.navbar-home {
    background-color: #36ced3;
    border: 0px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-default .navbar-brand {
    color: red;
}

.name {
    font-weight: bold;
    font-family: 'Sofia', cursive;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(231, 41, 41);
    font-size: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li:hover {
    background: red;
    border-radius: 10px;
}

.drop li a{
    color: rgb(231, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.drop li a:hover {
    background: turquoise;
}

.butt {
    background-color: rgb(181, 224, 64);
}

.inside {
    background-color: lemonchiffon;
}

.cat {
    text-align: center;
    font-family: 'Gotu';
}

.arrive {
    background-color: black;
    color: white;
}

#label {
    text-align: center;
    font-family: 'Baloo 2', cursive;
}

.price {
    text-align: center;
}

.buttn {
    margin-left: 100px;
    background-color: black;
    color: white;
}

.footer {
    position: relative;
    left: 0;
    top: 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #36ced3;
    color: rgb(231, 41, 41);;
    text-align: center;
  }